body {
    background-color: black;
}

.calc-case {
    background-color: black;
    width: 350px;
    height: 550px;
    border: solid 1px white;
    border-radius: 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.display {
    width: 80%;
    height: 15%;
    background-color: black;
    border: solid 1px white;
    color: white;
    border-radius: 15px;
    margin: 40px auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Calculator', sans-serif;
}

.previousDisplay {
    text-align: right;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
} 


.currentDisplay {
    font-size: 60px;
    text-align: right;
    margin-top: -10px;
    margin-right: 10px;
} 

.button-area {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 65px);
    gap: 6px;
}

.button-area > button {
    cursor: pointer;
    font-size: 18px;
    background-color: black;
    border: solid 1px white;
    color: white;
    border-radius: 15px;
    margin: 0;
    padding: 0;
}

.button-area > button:hover {
    background-color: white;
    border: solid 1px black;
    color: black;
}

.button-area > button:active {
    background-color: rgba(210, 210, 210);
}

.clear {
    grid-column: span 2;
} 

#add {
    grid-row: span 2;
}

.disclaimer {
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}